.custom-pagination {
  .pageLink {
    border-color: whitesmoke;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--falcon-pagination-border-color);
    line-height: 38px !important;
    color: var(--falcon-pagination-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-next,
  .ant-pagination-jump-prev {
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 0.25rem;
    -webkit-box-shadow: var(--falcon-btn-falcon-box-shadow);
    box-shadow: var(--falcon-btn-falcon-box-shadow);
    height: 38px !important;
    line-height: 38px !important;
    min-width: fit-content !important;
    margin-inline-end: 4px !important;
    background-color: var(--falcon-pagination-bg) !important;
  }
  .ant-pagination-prev:not(.ant-pagination-disabled),
  .ant-pagination-next:not(.ant-pagination-disabled),
  .ant-pagination-jump-next:not(.ant-pagination-disabled),
  .ant-pagination-jump-prev:not(.ant-pagination-disabled) {
    svg {
      path {
        fill: var(--falcon-body-color) !important ;
      }
    }
    &:hover {
      path {
        fill: #fff !important ;
      }
    }
  }

  .ant-pagination-item:not(.ant-pagination-disabled),
  .ant-pagination-prev:not(.ant-pagination-disabled),
  .ant-pagination-next:not(.ant-pagination-disabled),
  .ant-pagination-jump-next,
  .ant-pagination-jump-prev {
    .pageLink {
      &:hover {
        z-index: 3;
        color: #fff;
        background-color: #2c7be5;
        border-color: #2c7be5;
      }
    }
  }
  .rotateReverce {
    transform: rotate(180deg);
  }
  .ant-pagination-item-active {
    .pageLink {
      z-index: 3;
      color: #fff;
      background-color: #2c7be5;
      border-color: #2c7be5;
    }
  }
  .ant-pagination-disabled {
    background: rgb(229, 229, 229);
  }
  .ant-pagination-options {
    margin-left: 4px;
    margin-inline-start: 4px !important;
    .ant-select-selector {
      padding: 8px 32px !important;
      height: 39px !important;
      background-color: var(--falcon-pagination-bg) !important;
      border: 1px solid var(--falcon-pagination-border-color) !important;
      -webkit-box-shadow: var(--falcon-btn-falcon-box-shadow) !important;
      box-shadow: var(--falcon-btn-falcon-box-shadow) !important;
      .ant-select-selection-item {
        padding-inline-end: 12px !important;
        line-height: 22px !important;
        color: var(--falcon-input-color);
      }
    }
  }
  .ant-select-dropdown {
    background-color: var(--falcon-pagination-bg) !important;

    .ant-select-item-option-content {
      color: var(--falcon-input-color);
    }
    .rc-virtual-list-holder {
      border: 1px solid var(--falcon-pagination-border-color);
    }
    .ant-select-item-option-active,
    .ant-select-item-option-selected {
      background-color: #2c7be5 !important;
      color: #fff !important;
      .ant-select-item-option-content {
        color: #fff !important;
      }
    }
  }
}
