@import "../../../../../styles/variables.scss";
.subscriptionFormFooter {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.nextBtn {
  min-width: 104px;
}
.padding8{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.paymentFormRow{
    margin-left: -8px !important;
    margin-right: -8px !important;
}
.invoiceAmount{
    font-family: $body-font-family ;
    line-height: 1.4;
    color: var(--falcon-body-color);
}
.instrumentFieldBox{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.addPaymentRowBtn{
  display: flex;
    align-items: center;
    column-gap: 4px;
}
.deleteCardBtn {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
