.expanddiv {
  margin-left: auto;
  padding: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: right;
}

.clearlink {
  color: red !important;
  margin-left: auto;
  padding: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
