.ant-select-selector {
  border-radius: 0px !important;
}

.scrollabletd {
  max-height: 50px;
  overflow: auto;
}

.summery {
  padding: 10px;
  background: #d8e2ef;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.summery1 {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.summaryCol {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
