.totalTimeDisplay {
    display: inline-block;
    align-items: center;
    min-height: 40px;
    text-align: center;
}
/* Custom CSS */
.center-align-header .ant-table-cell:last-child,
.center-align-header .ant-table-cell:nth-last-child(2) {
    text-align: center;
}
