.t1{
    display: flex;
}
.t2{
    margin-right: 0px;
}
.t3{
    width: 200px;
}
.t4{
    text-align: start;
    font-weight: 600;
    font-size: medium;
}
.t5{
    width: 25px;
    height: 25px;
}
.t6{ 
    font-size: small;
    font-weight: 500;
    margin-bottom: 0%;
}
.t7{
        margin-bottom: 4%;
        width: 250px;
}
.t8{
    margin-top: 0%;
}