.add-compliance-header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.add-compliance-cancel {
    margin-left: auto;
}

#addTaskFrm .ant-form-item {
    margin-bottom: 0 !important;
}
