@import "../../styles/variables.scss";
.filterBoxWrapper {
  padding: 10px 9px;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 1px solid var(--light-grey-secondary);
}
.filterHeader {
  font-size: 0.8333333333rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--falcon-headings-color);
  font-family: $btn-font-family;
}
.filterBoxColumn {
  padding-left: 8px !important;
  padding-right: 8px !important;
  display: flex;
  justify-content: space-between;
  &:hover{
    .filterBoxColumnIcon{
      display: block;
    }
  }
}
.filterBoxColumnIcon {
  display: none;
  path {
    fill: #2c7be5 !important;
  }
}
.alwaysShowIcon{
  display: block;
}
.filterSortLabel {
  color: grey;
  font-size: 13px;
  position: relative;
  left: 10px;
  line-height: 15px;
  font-weight: 600;
}
.rotateArrow{
  transform: rotate(180deg);
}