@import "../../../styles/variables.scss";
.addonsPageWrapper {
    box-shadow: var(--falcon-box-shadow);
    margin-bottom: 1rem !important;
    display: flex;
    flex-direction: column;

    .addonsPageHeader {
        padding: 0 20px 0 20px;
        min-height: 60px;
        position: sticky !important;
        top: 70px;
        z-index: 10;
        background-color: var(--white);
    }
    .addonsHeaderTitle {
        border-bottom: 1px solid #d8e2eb;
    }
    .addonsLabel {
        z-index: 1;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
        font-family: $btn-font-family;
        color: #2c7be5;
    }
    .addonsBottomWrapper {
        padding: 20px;
    }
    .newBtn {
        z-index: 1;
        display: flex;
        color: #fff;
        background-color: #2c7be5;
        &:hover {
            color: #fff;
            background-color: #2c7be5;
            border-color: #2c7be5;
        }
    }
}
