@import "../../../../styles/variables.scss";
.subscriptionTabs {
    .ant-tabs-nav {
        margin-bottom: 28.8px;
        &::before {
            border-bottom: 2px solid var(--falcon-border-color);
        }
    }
    .ant-tabs-tab {
        padding: 8px 16px 8px 0;
        font-weight: 700;
        font-size: 0.875rem;
        font-family: $body-font-family;
        text-shadow: none !important;
        color: var(--text-label) !important;
    }
    .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: var(--primary-blue) !important;
            text-shadow: none !important;
        }
    }
    .ant-tabs-tab + .ant-tabs-tab {
        padding: 8px 16px;
        margin: 0;
    }
}
