@import "../../../styles/variables.scss";
.subscriptionCardBox {
    border: 0 !important;
    background-color: var(--falcon-card-bg) !important;
    box-shadow: var(--falcon-box-shadow);
    position: sticky !important;
    top: 0 !important; /* Adjust the value based on your layout and design */
    padding: 10px;
    z-index: 1;
}
.subscriptionCardBody {
    padding: 20px;
}

.scrollable-container {
    padding: 20px; /* Add some padding as needed */
    min-height: 500px;
    overflow: auto;
    max-height: 500px;
}
