@import "../../../../styles/variables.scss";
.noDataAvailableWrapper {
    padding: 20px !important;
    color: var(--light-grey) !important;
    background: var(--card-background) !important;
    border: 1px solid var(--falcon-border-color) !important;
    margin: 8px 0 16px 0;
    h5 {
        font-family: $btn-font-family !important;
        font-weight: 500;
        line-height: 1.2;
        color: var(--falcon-headings-color);
    }
}
