body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.ant-btn-primary:hover {
    background: #2569c3 !important;
    border-color: #fff !important;
}

.hide {
    display: none;
}

.ant-btn-dangerous {
    color: #fff;
    background-color: #e63757 !important;
    border-color: #e63757 !important;
}

.ant-btn-dangerous:hover {
    color: #fff;
    background-color: #c42f4a !important;
    border-color: #b82c46 !important;
}

.ant-picker,
.ant-input,
.ant-select,
.ant-btn,
.ant-select-selector {
    border-radius: 3px !important;
}

.form-row {
    margin-bottom: 10px;
}

.w100 {
    width: 100%;
}

.ql-container {
    min-height: 6rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.ql-toolbar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.data-row-pending {
    background-color: rgb(255 0 0 / 30%);
}

.data-row-completed {
    background-color: rgb(153 123 76 / 10%);
}

.data-row-in-progress {
    background-color: rgb(255 204 0 / 10%);
}

.data-row-cancel {
    background-color: rgb(128 128 128 / 30%);
    opacity: 0.5;
    text-decoration: line-through;
}
