@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap");
body {
    /* Font */
    /* Emoji fonts are added to visualise them nicely in Internet Explorer. */
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;

    /* Text color */
    color: #333;

    /* Remove the background color to make it transparent. */
    background-color: #fff;

    margin: 0;
    width: 100%;
    height: 100%;
}

input,
button,
select,
optgroup,
textarea,
label,
.alert,
.badge,
.blockquote-footer,
.btn,
[data-list] .page,
.tox .tox-menu__footer .tox-button:last-child,
.tox .tox-dialog__footer .tox-button:last-child,
.tox .tox-menu__footer .tox-button--secondary,
.tox .tox-dialog__footer .tox-button--secondary,
.navbar,
.pagination,
.valid-feedback,
.invalid-feedback {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.ant-btn {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}

.ant-btn-primary:hover {
    background: #2569c3 !important;
    border-color: #fff !important;
}

.hide {
    display: none;
}

.ant-btn-dangerous {
    color: #fff;
    background-color: #e63757 !important;
    border-color: #e63757 !important;
}

.ant-btn-dangerous:hover {
    color: #fff;
    background-color: #c42f4a !important;
    border-color: #b82c46 !important;
}

.ant-picker,
.ant-input,
.ant-select,
.ant-btn,
.ant-select-selector,
.quill {
    border-radius: 3px !important;
    //box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.form-row {
    margin-top: 15px;
}

.w100 {
    width: 100%;
    //box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.ql-container {
    min-height: 6rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.ql-toolbar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.data-row-high {
    background-color: rgb(255 0 0 / 30%);
}

.data-row-high td:first-child {
    background-color: #ff0000 !important;
}

.data-row-completed {
    background-color: rgb(79 153 76 / 10%);
}

.data-row-completed td:first-child {
    background-color: #00ca72 !important;
}

.data-row-low {
    background-color: rgb(44 123 229 / 10%);
}

.data-row-low td:first-child {
    background-color: #2c7be5 !important;
}

.data-row-moderate {
    background-color: rgb(153 123 76 / 10%);
}

.data-row-moderate td:first-child {
    background-color: #997b4c !important;
}

.data-row-medium {
    background-color: rgb(255 204 0 / 10%);
}

.data-row-medium td:first-child {
    background-color: #ffcc00 !important;
}

.data-row-cancel {
    background-color: rgb(128 128 128 / 30%);
    opacity: 0.5;
    text-decoration: line-through;
}

.data-row-cancel td:first-child {
    background-color: #808080 !important;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid red;
    background-color: transparent;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #555;
}

.ant-divider-horizontal {
    margin: 10px 0 !important;
}

.timerbuttons {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 23px;
    border: 0;
    background: transparent;
    cursor: pointer;

    .timer-play,
    .timer-pause {
        margin: 8px 20px 0 0;
        color: #2c7be5;
        float: left;
        width: 17px;
    }

    .timer-stop {
        color: #00ca72;
        margin: 8px 20px 0 0;
        float: left;
        width: 17px;
    }
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.ant-table-content .ant-form-item {
    margin-bottom: 0 !important;
}

.ant-form-item {
    // margin-bottom: 1rem !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.ant-table-row {
    border-bottom: 6px solid #ffffff !important;
    padding-bottom: 6px !important;
    cursor: pointer;
}

.ant-table-cell-row-hover {
    background-color: transparent !important;
}

.ant-table-cell {
    padding: 5px !important;
    border-bottom: 6px solid #fff !important;
}

.client-details {
    .ant-table-row {
        border-bottom: 1px solid #edf2f9 !important;
        padding-bottom: 1px !important;
        cursor: pointer;
    }

    .ant-table-cell {
        border-bottom: 1px solid #edf2f9 !important;
    }
}

.ant-table-cell:first-child {
    background-color: transparent;
    padding: 1.2px !important;
}

.title {
    display: inline-block;
    width: 350px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.blink {
    animation: blinker 1.5s linear infinite;
    //color: red !important;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text-priority {
    font-size: 16px !important;
    margin-top: 7px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.sub-task-header {
    display: flex;
    flex-wrap: nowrap;

    .task-header-cell {
        flex: 1;
        font-size: 15px;
        font-weight: 600;
    }

    .task_priorty:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 100%;
        background: #2c7be5;
        display: inline-block;
    }

    .low {
        color: #2c7be5;
    }

    .low:before {
        background: #2c7be5;
    }

    .medium {
        color: #ffcc00;
    }

    .medium:before {
        background: #ffcc00;
    }

    .high {
        color: #ff0000;
        animation: blinker 0.8s linear infinite;
    }

    .high:before {
        background: #ff0000;
    }
}

.ant-table-content {
    .ant-table-thead {
        .ant-table-cell {
            background: #edf2f9;
            height: 24px;
            line-height: 24px;
        }
    }
}

.table-striped-rows tr:nth-child(odd) td {
    background-color: #f9fafd;
}

.low {
    color: #2c7be5 !important;
}

.low:before {
    background: #2c7be5 !important;
}

.medium {
    color: #ffcc00 !important;
}

.medium:before {
    background: #ffcc00 !important;
}

.high {
    color: #ff0000 !important;
    animation: blinker 0.8s linear infinite;
}

.high:before {
    background: #ff0000 !important;
}

.border-bottom {
    border-radius: 0 !important ;
    border-bottom: 1px solid #94999f;
    box-shadow: none !important;
    font-size: 16px;
    color: #344050;
}

.search-box {
    border-bottom: 1px solid #94999f !important;
    box-shadow: unset !important;
    border-radius: 0 !important ;
    font-size: 16px;
    color: #94999f;
    padding: 4px 2px;

    .ant-input {
        box-shadow: unset !important;
        font-family: "Poppins" !important;
        font-weight: 400;
        font-size: 16px;
        color: #94999f;
    }
}

.scrollbar-td {
    max-height: 42px;
    overflow: auto;
}

.scrollbar-td::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

.scrollbar-td::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bcbbbb;
}

.short-title {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.ant-collapse-item {
    background-color: #fff;
}

// `select` component
.ant-select-item-option-active {
    background-color: #2c7be5 !important;
    color: white !important;
}

.ant-select-item {
    transition: none !important;
}
