@import "../../../../../styles/variables.scss";
.subscriptionFormWrapper {
    padding: 0 8px;
}
.subscriptionFormColumn {
    margin-top: 2px !important;
}
.subscriptionFormLabel {
    margin-bottom: 2px !important;
}
.addCa {
    width: 200px;
}
.subscriptionFormFooter {
    padding-right: 8px !important;
    padding-left: 8px !important;
}
.nextBtn {
    min-width: 104px;
}
.subscriptionFormBox {
    margin-left: -8px;
    margin-right: -8px;
}

.subscriptionPrice {
    color: var(--falcon-body-color);
    font-size: 0.875rem;
    font-family: $body-font-family;
}
.addOwnerInfoBtn {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.subscriptionLine {
    border-top: 1px var(--falcon-border-color) solid;
    opacity: 1;
}
.subscriptionLineLeft {
    padding-left: 12px !important;
    padding-right: 8px !important;
}
.subscriptionLineRight {
    padding-right: 12px !important;
    padding-left: 8px !important;
}
.roundOffInput {
    margin-bottom: 0 !important;
}
.addCaPlanBorder {
    margin: -16px auto 0 auto;
    background: #fff;
    border-radius: 10px;
    max-width: 400px;
    // margin: 0 auto;
    padding: 1rem !important;
    border: 1px solid var(--falcon-border-color) !important;
}
.addCaPlanHeader {
    font-size: 2.0736rem;
    line-height: 1.2;
    color: var(--falcon-headings-color);
    font-family: $btn-font-family;
}
.subscriptionCardBox {
    margin-left: -8px !important;
    margin-right: -8px !important;
    color: var(--light-grey) !important;
    li {
        font-family: $body-font-family;
    }
    svg {
        color: var(--falcon-body-color);
    }
}
.deleteCardBtn {
    height: 30px;
    width: 30px;
    padding: 0;
}
.infoCardBtn {
    height: 30px;
    width: 30px;
    padding: 0;
}
.formGridColumn {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}
.coupon {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px;
    position: relative;
}

.apply-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.discount {
    text-align: center;
}

.percentage {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #ff6600;
}

.off-text {
    font-size: 18px;
    margin-top: 5px;
}

.code {
    text-align: center;
    margin-top: 10px;
}

.code-label {
    font-size: 18px;
}

.code-value {
    font-size: 24px;
    font-weight: bold;
    color: #ff6600;
}

.details {
    margin-top: 20px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.detail-label {
    font-size: 14px;
    font-weight: bold;
}

.detail-value {
    font-size: 14px;
}
