.c1{
    display: flex;
}
.c2{
    margin-right: 0px;
}
.c3{
    width: 200px;
}
.c4{
    text-align: start;
    font-weight: 600;
    font-size: medium;
}
.c5{
    width: 25px;
    height: 25px;
}
.c6{ 
    font-size: small;
    font-weight: 500;
    margin-right: 1%;
}
.c7{
    width: 350px;
}
.c8{
    margin-left: 100px;
}