.task-list-header {
    display: flex;
    flex-wrap: nowrap;
    //margin-bottom: 15px;
}

.task-list-add {
    margin-left: auto;
}

.ant-tabs {
    width: 100%;
    height: 46px;
}

#taskTable {
    border-spacing: 0 4px;
}

table {
    border-spacing: 0 4px;
}
#taskTable td {
    cursor: pointer;
    color: #5e6e84 !important;
    margin: 0;
    --falcon-gutter-x: 0.5rem;
    list-style-type: none;
    position: relative;
    font-size: 15px;
    text-align: left;
    border-radius: 0 !important;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 1px 3px;
}

.clientDiv {
    font-size: 13px !important;
    white-space: nowrap;
}

.assigneeContainer {
    display: flex;
    align-items: center;
}

.assigneeImage {
    width: 24px; /* Set the desired width of the round image */
    height: 24px; /* Set the desired height of the round image */
    border-radius: 50%; /* Make the image round */
    margin-right: 8px; /* Add some spacing between the image and the name */
}

.title {
    display: inline-block;
    width: 220px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.dueDate {
    display: inline-block;
    font-size: 13px;
    padding-right: 10px;
}
