.St1 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #344050;
    font-size: 0.875rem;
}
.St2 {
    // margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(70, 90, 142);
    font-weight: 500 !important;
    margin-bottom: 0.5rem;
    //margin-bottom: 5px;
}
.St3 {
    margin-left: 2%;
    margin-top: 9px;
    margin-bottom: 9px;
}
.St4 {
    margin-right: 0%;
    font-size: larger;
}
.St5 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 18px;
}
.ant-switch .ant-switch-handle::before {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    background-color: #fff;
    border-radius: 26px;
    height: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    transition: all 0.2s ease-in-out;
    content: "";
}
.main {
    padding: 24px;
    min-height: 502px;
    background: rgb(255, 255, 255);
    height: 100%;
}

.main2 {
    //padding: 15px;
    min-height: 363px;
    background: rgb(255, 255, 255);
    height: 100%;
}

.main3 {
    //padding: 24px;
    min-height: 406px;
    background: rgb(255, 255, 255);
    height: 100%;
}

.ant-checkbox-group-item {
    display: block;
    margin-right: 0;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    //margin-bottom: 15px;
}

.ant-tabs-tab-btn {
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
}

.ant-checkbox-group {
    display: flex;
    flex-direction: column;
}
