.r1{
    display: flex;
}
.r2{
    margin-right: 0px;
}
.r3{
    width: 200px;
}
.r4{
    text-align: start;
    font-weight: 600;
    font-size: medium;
}
.r5{
    width: 25px;
    height: 25px;
}
.r6{ 
    font-size: small;
    font-weight: 500;
}
.r7{
    margin-left: 210px; 
    font-size: small;
    font-weight: 500;
}
.r8{
        width: 250px;
}
.r9{
    margin-left: 20px; 
    width: 250px;
}
.r10{
    margin-top: 0%;
}