@import "../../../styles/variables.scss";

.addPromoCodeCardWrapper {
    // border: 0px solid var(--falcon-card-border-color) !important;
    // border-radius: 10px !important;

    box-shadow: var(--falcon-box-shadow);
    margin-bottom: 1rem !important;
    display: flex;
    flex-direction: column;
    border: none !important;

    .promoCodeCardHeaderBox {
        //  margin: 0 20px 0 20px;
        min-height: 60px;
        position: sticky !important;
        top: 70px;
        z-index: 10;
        background-color: var(--white);
        border: none;
    }
    .promocodeHeaderTitle {
        border-bottom: 1px solid #d8e2eb;
    }
    .addPromoCodeLabel {
        z-index: 1;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
        font-family: $btn-font-family;
        color: #2c7be5;
    }
    .addPromoCodeImg {
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .addClientDetailBox {
        padding: 20px;
        background-color: var(--white);
    }
    .cancelBtnIcon {
        transform: rotate(45deg);
        margin-right: 2px;
    }
    .rowTitle {
        min-width: 180px;
        margin-bottom: 0.3rem;
        font-size: 0.875rem;
        letter-spacing: 0.02em;
        font-weight: 500 !important;
        font-family: $btn-font-family;
        line-height: 1.4;
        color: var(--falcon-body-color);
        position: relative;
        top: -2px;
    }
    .cancelAddClientBtn {
        margin-bottom: 5px;
    }
    // .newPromoBtn {
    //     z-index: 1;
    //     display: flex;
    //     column-gap: 4px;
    //     align-items: center;
    //     color: #fff;
    //     border-color: #fff;
    //     background-color: transparent;
    //     border: 1px solid transparent;
    //     border: 1px solid white;
    //     border-radius: 0.25rem;
    //     padding: 5px 16px;
    //     font-weight: 500;
    //     &:hover {
    //         color: #fff !important;
    //         background-color: #2c7be5 !important;
    //         border-color: #2c7be5 !important;
    //     }
    // }
}
