.At2 {
    margin-right: 0%;
    padding: 0px 29px;
    font-size: larger;
}
.At1 {
    margin-left: 89%;
    margin-top: 9px;
    margin-bottom: 9px;
}
.At4 {
    font-size: 1rem;
    width: 69px;
    margin: 0px;
    border-width: 0px;
    box-shadow: 0px 0px 0px 0px white;
    padding: 1px;
}

.userIcon {
    padding: 5px 5px;
    font-size: 19px;
    text-align: center;
}
